<section  class="clients">
    <div class="clients__logo-container">
        <img src="img/client-1.png" alt="client">
    </div>
    <div class="clients__logo-container">
        <img src="img/client-2.png" alt="client">
    </div>
    <div class="clients__logo-container">
        <img src="img/client-3.png" alt="client">
    </div>
    <div class="clients__logo-container">
        <img src="img/client-4.png" alt="client">
    </div>
    <div class="clients__logo-container">
        <img src="img/client-5.png" alt="client">
    </div>
    <div class="clients__logo-container">
        <img src="img/client-6.png" alt="client">
    </div>
</section> 