<section class="features" id="features">
    <h3 class="features__main-title">Highlight your Features</h3>
    <article class="features__article">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <h4 class="features__title  features__title-1">Designed to impress</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>
    <article class="features__article">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <h4 class="features__title  features__title-2">High Conversions</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>
    <article class="features__article">
        <i class="fa fa-umbrella" aria-hidden="true"></i>
        <h4 class="features__title  features__title-3">Without Bootstrap</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>
    <article class="features__article">
        <i class="fa fa-star" aria-hidden="true"></i>
        <h4 class="features__title  features__title-4">Multiple Layouts</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>
    <article class="features__article">
        <i class="fa fa-money" aria-hidden="true"></i>
        <h4 class="features__title  features__title-5">Save your Money</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>
    <article class="features__article">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <h4 class="features__title  features__title-6">24x7 Support</h4>
        <p class="features__description">
            Phasellus enim libero blandit veldrom sapien vitae condiedor trava.Phasellus enim libero blandit veldrom
            sapien vitae condiedor trava.
        </p>
    </article>

</section>