<header class="page-header">
    <nav class="navbar">
        <div class="navbar__header">
            <a href="#" class="navbar__logo">LandinGo</a>
            <button type="button" class="navbar__toggle" id="navbar__toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="navbar__main" id="navbar__main">
            <ul class="navbar__list">
                <li class="navbar__element"><a class="active" href="#intro">Showcase</a></li>
                <li class="navbar__element"><a href="#features">Features</a></li>
                <li class="navbar__element"><a href="#why-us">Why Us</a></li>
                <li class="navbar__element"><a href="#screenshots">Screenshots</a></li>
                <li class="navbar__element"><a href="#pricing">Pricing</a></li>
                <li class="navbar__element"><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>