<section class="morefeatures">

    <div class="container">

        <h3 class="morefeatures__main-title">More Features</h3>

        <div class="morefeatures__group">

            <div class="morefeatures__article-group">
                <article class="morefeatures__article">
                    <div class="morefeatures__number">1</div>
                    <h4 class="morefeatures__title  features__title-1">Build With LOVE</h4>
                    <p class="morefeatures__description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    </p>
                </article>

                <article class="morefeatures__article">
                    <div class="morefeatures__number">2</div>
                    <h4 class="morefeatures__title  features__title-1">Smooth Scrollbar </h4>
                    <p class="morefeatures__description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    </p>
                </article>
            </div>

            <div class="morefeatures__image-container">

                <img class="morefeatures__image" src="img/iphone_alt.png" alt="iPhone">

                <div class="morefeatures__round-container">
                    <div class="morefeatures__round">1</div>
                </div>

                <div class="morefeatures__round-container">
                    <div class="morefeatures__round">2</div>
                </div>

                <div class="morefeatures__round-container">
                    <div class="morefeatures__round">3</div>
                </div>

                <div class="morefeatures__round-container">
                    <div class="morefeatures__round">4</div>
                </div>



            </div>

            <div class="morefeatures__article-group">
                <article class="morefeatures__article">
                    <div class="morefeatures__number">3</div>
                    <h4 class="morefeatures__title  features__title-1">Without Bootstrap</h4>
                    <p class="morefeatures__description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    </p>
                </article>

                <article class="morefeatures__article">
                    <div class="morefeatures__number">4</div>
                    <h4 class="morefeatures__title  features__title-1">Fooly Responsive</h4>
                    <p class="morefeatures__description">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    </p>
                </article>
            </div>

        </div>

    </div>

</section>