<section class="pricing" id="pricing">

    <h3 class="pricing__main-title">Simple Pricing</h3>

    <div class="pricing__card">
        <a href="#">

            <h5 class="pricing__card-title">starter</h5>

            <div class="pricing__price">
                $
                <div>9</div>
                month
            </div>

            <ul class="pricing__list">
                <li>20 Pages</li>
                <li>10 GB Storage</li>
                <li>500 GB Bandwidth</li>
                <li>Custom Domain</li>
                <li>Email and Forum Support</li>
                <li>24/7 Support</li>
            </ul>

            <button class="pricing__btn" value="sign up">sign up</button>

        </a>
    </div>

    <div class="pricing__card">
        <a href="#">

            <h5 class="pricing__card-title">professional</h5>

            <div class="pricing__price">
                $
                <div>19</div>
                month
            </div>

            <ul class="pricing__list">
                <li>20 Pages</li>
                <li>10 GB Storage</li>
                <li>500 GB Bandwidth</li>
                <li>Custom Domain</li>
                <li>Email and Forum Support</li>
                <li>24/7 Support</li>
            </ul>

            <button class="pricing__btn" value="sign up">sign up</button>

        </a>
    </div>

    <div class="pricing__card">
        <a href="#">

            <h5 class="pricing__card-title">enterprise</h5>

            <div class="pricing__price">
                $
                <div>29</div>
                month
            </div>

            <ul class="pricing__list">
                <li>20 Pages</li>
                <li>10 GB Storage</li>
                <li>500 GB Bandwidth</li>
                <li>Custom Domain</li>
                <li>Email and Forum Support</li>
                <li>24/7 Support</li>
            </ul>

            <button class="pricing__btn" value="sign up">sign up</button>

        </a>
    </div>


</section>