<section class="screenshots" id="screenshots">

    <h3 class="screenshots__main-title">Awesome Screenshots</h3>

    <div class="owl-carousel owl-theme">
        <div class="slide"><img src="img/screen-1.jpg" class="slide-img" alt="1"></div>
        <div class="slide"><img src="img/screen-2.jpg" class="slide-img" alt="2"></div>
        <div class="slide"><img src="img/screen-3.jpg" class="slide-img" alt="3"></div>
        <div class="slide"><img src="img/screen-4.jpg" class="slide-img" alt="4"></div>
        <div class="slide"><img src="img/screen-5.jpg" class="slide-img" alt="5"></div>
        <div class="slide"><img src="img/screen-6.jpg" class="slide-img" alt="6"></div>
        <div class="slide"><img src="img/screen-7.jpg" class="slide-img" alt="7"></div>
        <div class="slide"><img src="img/screen-8.jpg" class="slide-img" alt="8"></div>
    </div>

</section>