<section class="subscribe">
    <div class="subscribe__container">

        <h3 class="subscribe__main-title">Subscribe today for latest offers!</h3>

        <p class="subscribe__description">
            Enim ipsam voluptatem quia voluptas sit aspernatur aut fugit, sed quia consequuntur
            magni dolores eos qui ratione sequi nesciunt.
            <br>
            Quis consequatur quia voluptas sit aspernatur aut odit aut fugit justo sed mauris vel,
            lobortis tempor lorem.
        </p>

        <div class="subscribe__newsletter-box">

            <p class="subscribe__success">
                We received your message and you'll hear from us soon. Thank You!
            </p>

            <form class="subscribe__form" name="subscribe__form" action="#" method="post">
                <input class="subscribe__input" type="email" placeholder="Your Email" required="required">
                <input class="subscribe__btn" type="submit" value="Subscribe!">
            </form>

        </div>

    </div>
</section>