<section class="testimonials">

    <div class="testimonials__container">

        <article class="testimonials__article">

            <p class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae rem eligendi,
                eveniet aperiam, cum laboriosam. Aut, doloremque esse possimus, iure iste offi odio
                laborum dolores quis, nostrum nemo, qui neque.
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>

            <div class="testimonials__author">
                <div class="testimonials__author-photo">
                    <img src="../img/testi-1.jpg">
                </div>
                <h5><span>Anne Thomsan</span> - CEO Example.Inc</h5>
            </div>

        </article>

        <article class="testimonials__article">

            <p class="">
                <i class="fa fa-quote-left" aria-hidden="true"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae rem eligendi,
                eveniet aperiam, cum laboriosam. Aut, doloremque esse possimus, iure iste offi odio
                laborum dolores quis, nostrum nemo, qui neque.
                <i class="fa fa-quote-right" aria-hidden="true"></i>
            </p>

            <div class="testimonials__author">
                <div class="testimonials__author-photo">
                    <img src="../img/testi-4.jpg">
                </div>
                <h5><span>John Skywalker</span> - CEO LongHardRoad.Inc</h5>
            </div>

        </article>

    </div>

</section>