<section class="trial">
    <form class="trial__form container" name="trial-form" action="#" method="post">
        <input class="trial__input" type="text" name="fst-name" placeholder="Your first name" required="required">
        <input class="trial__input" type="text" name="lst-name" placeholder="Your last name" required="required">
        <input class="trial__input" type="email" name="email" placeholder="Your email" required="required">
        <input class="trial__btn" type="submit" value="Free trial">
    </form>
</section>