<section class="why-us" id="why-us">

    <div class="why-us__image-container">
        <img src="img/iphone.png" alt="iPhones">
    </div>

    <div class="why-us__block">

        <h3 class="why-us__title">Create Something Totally Amazing</h3>

        <p class="why-us__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse
            cursus malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
        </p>
        <p class="why-us__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus
            malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor.
        </p>

        <div class="why-us__articles">
            <article>
                <h5>Multiple Layouts</h5>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </article>

            <article>
                <h5>Designed to impress</h5>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </article>

            <article>
                <h5>High Conversions</h5>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </article>
        </div>

    </div>

</section>